{% extends 'base.html' %}
{% block title %}add article{% endblock title %}
{% block content %}
{% load static %}

<div class="container-xl">
    <h1 class="mt-5 text-end"> اضافة مقالة </h1>
    <form method="POST" class="text-end">
        {% csrf_token %}
        <div class="mt-5">
          <label for={{form.title.id_for_label}} class="form-label"> العنوان </label>
          {{form.title}}
        </div>
        <div class="mb-5">
            <label for="" class="form-label mt-5"> نوع المقالة </label>
            {{form.article_type}}
        </div>
        <div class="mb-5">
            {{ form.media }}
            {{form.body}}
        </div>
        <button type="submit" class="btn btn-primary mt-5"> نشر المقالة </button>
    </form>
</div>


{% endblock content %}